name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: ${{ matrix.platform.name }} Release
    runs-on: ${{ matrix.platform.os }}
    
    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Linux,   os: ubuntu-latest }
        - { name: Windows, os: windows-latest }
        - { name: macOS,   os: macos-latest }

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up build environment (Windows)
      if: matrix.platform.name == 'Windows'
      run: choco install make

    - name: Build
      run: make